@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f5f6fa7a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.ponto {
    width: 6px;
    height: 6px;
    background: #3a415a;
    margin-left: 8px;
    margin-top: 12px;
}

nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    position: relative;
}

nav a:not(.botao)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: #182749;
    transition: 0.3s;
}

nav a:not(.botao):hover::after {
    width: 100%;
}

.botao_header {
  background: #0b1b2b;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.hero {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8)
}


.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.fechar {
    display: none;
}


@media (max-width: 768px) {

    header {
        padding: 20px;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        gap: 20px;
        transition: 0.3s;
    }

    nav.ativo {
        right: 0;
    }

    .fechar {
        display: block;
        font-size: 26px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    nav a {
        font-size: 18px;
    }

}