@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.ponto {
  width: 6px;
  height: 6px;
  background: #3a415a;
  margin-left: 8px;
  margin-top: 12px;
}

nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  position: relative;
}

header nav a:not(.botao_header)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #0b1b2b;
  transition: 0.3s;
}

header nav a:not(.botao_header):hover::after {
  width: 100%;
}

.botao_header {
  background: #0b1b2b;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.sobre {
  background-color: #101828;
  padding: 60px 100px;
}

.sobre h1 {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 10px;
}

.sobre p {
  text-align: center;
  color: #f5f5f5;
  font-size: 20px;
  margin-bottom: 6px;
}

.conteudomissao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  padding-bottom: 20px;
  gap: 70px;
  max-width: 1343px;
  margin: 0 auto;
}

.motivoscodemap {
  display: flex;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.motivo {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px #0000001a;
  flex: 1;
}

.imagemmissao {
  display: flex;
  justify-content: flex-end;
}

.imagemmissao img {
  width: 700px;
}

.missao {
  background-color: #ffffff;
}

.missao h1 {
  text-align: center;
  color: #101828;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.missao p {
  text-align: justify;
  color: #545454;
  font-size: 20px;
  margin-bottom: 5px;
}

.valores {
  background-color: #ffffff;
  padding: 50px 80px;
}

.valores h1 {
  text-align: center;
  color: #101828;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.valores p {
  text-align: center;
  color: #545454;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.cardsvalores {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 80px;
  align-items: stretch;
}

.card {
  text-align: center;
  flex: 1;
  max-width: 280px;
}

.card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 17px;
  color: #101828;
}

.card p {
  font-size: 15px;
  color: #545454;
  min-width: 60px;
}

.iconcard img {
  width: 80px;
  margin-bottom: 10px;
}

.footer {
  background-color: #1f2a38;
  color: #fff;
  text-align: center;
  padding: 30px 20px;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.icons a {
  width: 40px;
  height: 40px;
  background-color: #2d3b4f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.icons a:hover {
  transform: scale(1.2);
  background-color: #3f5370;
}

.menu-footer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}

.menu-footer a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  transition: 0.3s;
}

.icons img {
  width: 100%;
}

.menu-footer a:hover {
  color: #fff;
}

.footer hr {
  border: none;
  height: 1px;
  background-color: #3a4a60;
  margin: 15px auto;
  width: 80%;
}

.copy {
  font-size: 12px;
  color: #aaa;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.fechar {
    display: none;
}


@media (max-width: 768px) {

  header {
        padding: 20px;
    }

    .menu-toggle {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: white;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        gap: 20px;
        transition: 0.3s;
    }

    nav.ativo {
        right: 0;
    }

    .fechar {
        display: block;
        font-size: 26px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    nav a {
        font-size: 18px;
    }


  .sobre {
    padding: 40px 30px;
  }

  .sobre h1 {
    font-size: 28px;
  }

  .sobre p {
    font-size: 16px;
    margin: 0;
  }

  .conteudomissao {
    flex-direction: column;
    padding: 30px 24px;
    gap: 30px;
  }

  .imagemmissao {
    justify-content: center;
    width: 100%;
  }

  .imagemmissao img {
    width: 100%;
    max-width: 420px;
  }

  .textomissao h1 {
    font-size: 26px;
  }

  .textomissao p {
    font-size: 16px;
  }

  .valores {
    padding: 30px 24px;
  }

  .valores h1 {
    font-size: 26px;
  }

  .valores > p {
    font-size: 16px;
  }

  .cardsvalores {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .menu-footer {
    gap: 16px;
  }
}
